*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

form{
    background-color: #606060;
	width: 400px;
	height: 420px;
	border: 2px solid;
    border-radius: 2px; 
    margin: auto;
    margin-top: 30px;
    
}

form p{
    text-align: center;
    font-weight: bold;
    font-size: 17px;
    margin-bottom: 10px;
}
form h4{
    font-size: 30px;
    text-align: center;
    padding: 10px;
    margin: 10px 0px;
    text-decoration: underline;
}

form input[type=text]{
    width: 300px;
    height: 30px;
    margin-left: 50px;
    margin-bottom: 20px;
    text-align: left;
}
form input[type=number]{
    width: 300px;
    height: 30px;
    margin-left: 50px;
    margin-bottom: 20px;
    text-align: left;
}
form input[type=date]{
    width: 300px;
    height: 30px;
    margin-left: 50px;
    margin-bottom: 20px;
    text-align: left;
}
form input[type=submit]{
	
   	width: 100px;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 150px;
    text-align: center;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
}

form input[type=submit]:hover{
	box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.28),0 17px 50px 0 rgba(0,0,0,0.2);
}

form label{
    margin-left: 50px;
    font-weight: bold;
}

form select{
	width: 300px;
    height: 30px;
    margin-left: 50px;
    margin-bottom: 20px;
    text-align: left;
}






