
h2{
	text-align: center;
}
table{
	margin: auto;
	background-color: #606060;
	border: 2px solid;	
}

table ,th, tr, td{
	border: 2px solid;
	border-collapse: collapse;
	text-align: center;
}

th, td{
	padding: 5px;
}

.contenedor{
	width: 400px;
	border: 2px solid;
	background-color: #606060;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	clear: both;
}
#cajaTablaMant{
	margin: 10px;
}
#cajaTablaItv{
	margin: 10px;
}
#editar, #guardar, #borrar{
	cursor: pointer;
}


p{
	text-align: center;
	margin-top: 10px;
	font-weight: bold;
}
p a{
	text-decoration: none;
	color: #000;
	
}

p a:hover{
	color: #fff;
}

#enlaces{
	float: right;
}
#enlaces a{
	text-decoration: none;
	color: #000;
}
.current{
	color: #fff;
}

#nav{
	border: 2px solid;
	margin-top: 10px;
	padding: 6px;
	margin-bottom: 10px;
	width: 600px;
}



form input[type=submit]{
   	width: 70px;
    height: 20px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
}

form input[type=submit]:hover{
	box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.28),0 10px 40px 0 rgba(0,0,0,0.2);
}
