/*body {
	font-family: Comic Sans MS;
	background-image: url("images/fondo.jpg");
}*/

html {
	background-color: grey;
}
div.error {
	color : red;	
	border : 2px solid red;
	padding : 10px;
	margin: 10px;
}

div {
	background-color: white;
}

fieldset {
	margin: 10px;
	color: green;
	border: 3px solid blue;
	padding: 10px;
	background-color: pink;
}

input[type="submit"] {
	background-color: turquoise;
	color: yellow;
}
